/* fond de page */
body {
/* Seagreen */
  background-repeat: no-repeat;
  color: white;
  height: 98vh;
  /* pour éviter l'ascenseur */
  border: 1px solid transparent;
  box-sizing: border-box;
  background: #223865;
  font-family: 'Georgia', serif;
  font-weight: 300;
  font-size: 16.25px;
  color: #333;
  position: relative;
  width: 90%;
  box-shadow: 0 0 30px #030238;
  margin-left: auto;
  margin-right: auto;
}

/* bandeau de titre */
h1 { 
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 220%;
  font-family: 'Verdana', sans-serif;
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-image: url("Images/ue.png");
  background-repeat: no-repeat;
  background-size: 100% 180%;
  background-position: 50% 35%;
  padding: 47px 47px;
  border-bottom: 7px solid #fff;
  border-top: 7px solid #fff;
  margin-bottom: 30px;
}

/* contenu de la page */
body > * {   
  padding-left: 10px; 
}

/* polices de caractères */
body { 
  font-family: 'Georgia', serif; 
  color: #fff;
  font-size: 13px;
}

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

a.delete:hover {
  color: #F6D657;
}

legend {
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  font-family: 'Georgia', serif;
  color: #F6D657;
}

fieldset {
  border: 3px solid #fff;
  font-size: 100%;
  background-color: #223865;
}

table {
  margin-border: 2em;
}

span[id=country_name] {
  font-size: 100%;
  color: #F6D657;
}

button {
  width:110px;
  padding:6px 0 6px 0;
  font:Bold 12px 'Georgia';
  background: #fff;
  color:#223865;
  border-radius:4px;
  border:none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  color:#223865;
  background:#F6D657;
  box-shadow: 0 0 10px #030238;
  transition: all 0.3s ease 0s;
}

 /* unvisited link */
a:link {
  color: #F6D657;
}

/* visited link */
a:visited {
  color: #F6D657;
}

/* mouse over link */
a:hover {
  color: #fff;
}


a.delete:hover {
  color: #F6D657;
}
#map { 
  position: absolute;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  height: 67%; 
  width: 62%; 
  border: 3px solid #fff;
  left: 17.5%;
  right: 20.5%;
}
#country_data {
  padding: 10px;
  position: absolute;
  overflow: hidden; 
  width: 10%;
  margin-left: 10%;
  right: 0.8%;
  margin-top: 1%;
}
#selectchoice_field {
  padding: 10px;
  text-align: center;
  width: 12.7%;
  position: absolute;
  margin-top: 1%;
  left: 0.8%;
  right: 90%;
  text-align: center;
  color: #F6D657;

}
#select_type {
  border-radius: 10px;
  margin: 10px;
  background: #fff;
  border: 3px #fff;
  border-radius: 3px;
  color: #223865;


}
#pays_select_field {
  padding: 10px;
  width: 10%;
  position: absolute;
  margin-top: 13%;
  left: 0.8%;
  right: 90%;
  text-align: center;
  font-size: 100%;
  color: #F6D657;
}
#searchbar{
  padding: 10px;
  width: 12.7%;
  position: absolute;
  margin-top: 13%;
  left: 0.8%;
  right: 90%;
  text-align: center;
  color: #F6D657;
}
